EXPO_PUBLIC_API_URL=https://api.example.com
EXPO_PUBLIC_ENV=production
EXPO_PUBLIC_STATE_ADAPTER=redux
EXPO_PUBLIC_ENABLE_NEW_AUTH_FLOW=true
EXPO_PUBLIC_ENABLE_ADVANCED_ANALYTICS=true
EXPO_PUBLIC_SECRET_KEY=989f5e1005eda4ffa0a624dcf13410db09f6b3149ae6cf0f4277c1717ed8096
EXPO_PUBLIC_DB_NAME="example_rncfm.db"